* {
    box-sizing: border-box;
}

.separator {
    background: black;
    height: 3px;
    margin: 20px;
}

form,
h1,
h3,
ul,
li,
.results {
    text-align: center;
    list-style-type: none;
}

p {
    margin: 5px;
}

form {
    margin-bottom: 35px;
}

img {
    width: 128px;
    height: 192px;
}

body {
  background: #252830;
  color: white;
}

input, select, button {
  background: #434857;
  border: none;
  color: white;
}

.book {
  opacity: 0.8;
}

.book .title {
  font-size: 12px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.book:hover {
  cursor: pointer;
  opacity: 1;
}
