* {
    box-sizing: border-box;
}

.separator {
    background: black;
    height: 3px;
    margin: 20px;
}

form,
h1,
h3,
ul,
li,
.results {
    text-align: center;
    list-style-type: none;
}

p {
    margin: 5px;
}

form {
    margin-bottom: 35px;
}