* {
    box-sizing: border-box;
}

p {
    margin: 4px 0;
}

img {
    width: 130px;
    height: 200px;
    border-radius: 5px;
}

body {
    background: #17181B;
    color: white;
    margin-top: 50px;
}

input,
select {
    background: #434857;
    border: none;
    color: white;
}

button {
    /* background: #17181B;
    padding: 0px;
    border: none; */
}

.search-field {
    border-radius: 5px;
    height: 40px;
    width: 285px;
    padding-left: 15px;
}

.search-field:hover {
    opacity: 0.9;
}

.search-form {
    padding: 50px 0;
    text-align: center;
}

.book {
    margin: 30px 10px;
    padding: 0;
}

.book .title {
    font-size: 14px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 130px;
}

.book img:hover {
    /* cursor: pointer; */
    opacity: 0.6;
    border: 1px solid black;
    border-radius: 5px
}

.bookItem {
    width: 130px;
    height: 200px;
    margin: auto;
}

.container {
    padding: 0;
    min-width: 380px;
}

.results {
    padding-top: 40px;
}

.mainHeader {
    font-family: "Tangerine", serif;
    font-size: 6em;
    text-align: center
}

.mainHeader:hover {
    cursor: pointer;
}

i {
    font-size: 25px !important;
}

.fa-microphone {
    position: relative;
    right: 35px;
    top: 4px
}

.fa-microphone:hover,
.fa-search:hover {
    cursor: pointer;
}

.fa-search {
    position: relative;
    right: 15px;
    top: 2px
}